p {
  font-family: "Roboto", sans-serif;
}

.h6 {
  font-size: 15px;
}

.h7 {
  font-size: 13px;
}

h1 {
  margin-bottom: 40px;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: sec;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .card {
    margin: 1rem 0.7rem 1rem;
    max-width: 80vw;
  }
}
.card-text__sug {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.footer__card {
  line-height: 1.2rem;
  padding: 2rem 0 1.4rem 0;
  font-family: "Roboto", sans-serif;
}

#name {
  font-size: 0.8rem;
  font-weight: bold;
}

#position {
  font-size: 0.7rem;
}

.pri {
  color: #00174b;
}

.sec {
  color: #8c287e;
}

.ter {
  color: #1d293f;
}

.bg-pri {
  background-color: #00174b;
}

.bg-sec {
  background-color: #8c287e;
}

.bg-ter {
  background-color: #1d293f;
}

a {
  text-decoration: none;
  color: #00174b;
}

body {
  background-color: #f5f5f5;
  background: top no-repeat url("../svg/top.svg"), bottom no-repeat url("../img/fondobot.png");
  font-family: "Lexend", sans-serif;
}

.bodyclass {
  background: top no-repeat url("../img/fondotop.png"), bottom no-repeat url("../img/fondobot.png");
  background-size: 100%;
}

.pie {
  background: url("../img/curvacuadro.png");
  background-size: 100%;
}

footer {
  background: no-repeat url(../img/footer.png), linear-gradient(0deg, #00103b 0%, #00103b 64%, rgba(0, 16, 59, 0) 65%);
  background-size: 100%;
}

.podio__f,
.podio__s,
.podio__t {
  background-size: cover;
  background-position: center;
}

.podio__f {
  background-image: url(../img/fondo-menu.jpg);
}

.podio__s {
  background-image: url(../img/fondo-menu2.jpg);
}

.podio__t {
  background-image: url(../img/fondo-menu3.jpg);
}

.hoverbg {
  transition: transform 0.2s;
}
.hoverbg:hover {
  transform: scale(1.1);
}

a:hover {
  color: #8c287e;
}

@keyframes move {
  0% {
    transform: translateX(-200px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
.animation1 {
  animation-duration: 1s;
  animation-name: move;
}

@media screen and (min-width: 1399px) {
  .chacha {
    top: -8rem;
  }

  .tit__text {
    color: white;
  }
}
@media screen and (min-width: 992px) {
  .tit__titulo {
    color: white;
  }

  nav ul {
    background-color: white;
    height: 4rem;
    box-shadow: 0px 3px 0px #009abf;
    align-items: center;
  }
}
@media screen and (max-width: 1399px) {
  .chacha {
    top: -6rem;
  }

  .tit__text {
    color: #00174b;
  }
}
@media screen and (max-width: 1199px) {
  .chacha {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .tit__titulo {
    color: #00174b;
  }

  ul {
    background-color: pri;
  }
}
@media screen and (max-width: 767px) {
  .animation1 {
    width: 50%;
    align-items: center;
    margin-bottom: -3rem;
  }
}
@media screen and (max-width: 566px) {
  footer {
    background-color: #00103b;
  }
}
#euros:checked ~ #gallery .mesa4x,
#euros:checked ~ #gallery .cartas,
#euros:checked ~ #gallery .fillers,
#euros:checked ~ #gallery .roll {
  display: none;
}

#mesa4x:checked ~ #gallery .euros,
#mesa4x:checked ~ #gallery .cartas,
#mesa4x:checked ~ #gallery .fillers,
#mesa4x:checked ~ #gallery .roll {
  display: none;
}

#cartas:checked ~ #gallery .mesa4x,
#cartas:checked ~ #gallery .euros,
#cartas:checked ~ #gallery .fillers,
#cartas:checked ~ #gallery .roll {
  display: none;
}

#fillers:checked ~ #gallery .mesa4x,
#fillers:checked ~ #gallery .cartas,
#fillers:checked ~ #gallery .euros,
#fillers:checked ~ #gallery .roll {
  display: none;
}

#roll:checked ~ #gallery .mesa4x,
#roll:checked ~ #gallery .cartas,
#roll:checked ~ #gallery .euros,
#roll:checked ~ #gallery .fillers {
  display: none;
}

#bogota:checked ~ #evento .cali,
#bogota:checked ~ #evento .madrid,
#bogota:checked ~ #evento .bucaramanga,
#bogota:checked ~ #evento .pereira,
#bogota:checked ~ #evento .medellin {
  display: none;
}

#cali:checked ~ #evento .bogota,
#cali:checked ~ #evento .madrid,
#cali:checked ~ #evento .bucaramanga,
#cali:checked ~ #evento .pereira,
#cali:checked ~ #evento .medellin {
  display: none;
}

#madrid:checked ~ #evento .cali,
#madrid:checked ~ #evento .bogota,
#madrid:checked ~ #evento .bucaramanga,
#madrid:checked ~ #evento .pereira,
#madrid:checked ~ #evento .medellin {
  display: none;
}

#bucaramanga:checked ~ #evento .cali,
#bucaramanga:checked ~ #evento .madrid,
#bucaramanga:checked ~ #evento .bogota,
#bucaramanga:checked ~ #evento .pereira,
#bucaramanga:checked ~ #evento .medellin {
  display: none;
}

#pereira:checked ~ #evento .cali,
#pereira:checked ~ #evento .madrid,
#pereira:checked ~ #evento .bucaramanga,
#pereira:checked ~ #evento .bogota,
#pereira:checked ~ #evento .medellin {
  display: none;
}

#medellin:checked ~ #evento .cali,
#medellin:checked ~ #evento .madrid,
#medellin:checked ~ #evento .bucaramanga,
#medellin:checked ~ #evento .pereira,
#medellin:checked ~ #evento .bogota {
  display: none;
}

input[type=radio] {
  display: none;
}

.gallerymenu__filters label {
  margin-left: 0.7rem;
  position: absolute;
  color: #00174b;
  background-color: #f5f5f5;
  padding: 3px 10px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  border: #00174b solid 1px;
}

.gallerymenu__filters label:hover {
  background: #8c287e;
  border: solid #8c287e 1px;
  color: #f5f5f5;
}

input[type=radio]:checked + label {
  padding: 5px 15 px;
  background: #8c287e;
  border: solid #8c287e 1px;
  color: #f5f5f5;
}

/*# sourceMappingURL=style.css.map */
