body {
  background-color: #f5f5f5;
  background: top no-repeat url("../svg/top.svg"),
    bottom no-repeat url("../img/fondobot.png");
  font-family: $ff-base;
}

.bodyclass {
  background: top no-repeat url("../img/fondotop.png"),
    bottom no-repeat url("../img/fondobot.png");
  background-size: 100%;
}

.pie {
  background: url("../img/curvacuadro.png");
  background-size: 100%;
}

footer {
  background: no-repeat url(../img/footer.png),
    linear-gradient(
      0deg,
      rgba(0, 16, 59, 1) 0%,
      rgba(0, 16, 59, 1) 64%,
      rgba(0, 16, 59, 0) 65%
    );
  background-size: 100%;
}

.podio__f,
.podio__s,
.podio__t {
  background-size: cover;
  background-position: center;
}

.podio__f {
  background-image: url(../img/fondo-menu.jpg);
}

.podio__s {
  background-image: url(../img/fondo-menu2.jpg);
}

.podio__t {
  background-image: url(../img/fondo-menu3.jpg);
}
