body {
  background-color: #f5f5f5;
  background: top no-repeat url("../svg/top.svg"),
    bottom no-repeat url("../img/fondobot.png");
  font-family: $ff-base;
}

.bodyclass {
  background: top no-repeat url("../img/fondotop.png"),
    bottom no-repeat url("../img/fondobot.png");
  background-size: 100%;
}

.pie {
  background: url("../img/curvacuadro.png");
  background-size: 100%;
}

footer {
  background: no-repeat url(../img/footer.png);
  background-size: 100%;
}
