$pri: #00174b;
$sec: #8c287e;
$ter: #1d293f;
$colorlist: ($pri pri) ($sec sec) ($ter ter);

@each $color, $nombre in $colorlist {
  .#{$nombre} {
    color: $color;
  }
}

@each $color, $nombre in $colorlist {
  .bg-#{$nombre} {
    background-color: $color;
  }
}
