$ff-base: "Lexend", sans-serif;
$ff-secondary: "Roboto", sans-serif;
$h7: 13px;

p {
  font-family: $ff-secondary;
}

.h6 {
  font-size: 15px;
}

.h7 {
  font-size: 13px;
}

@import "colors";
@import "banner";
@import "background";
@import "animations";
@import "responsive";
@import "imputs";
