$ff-base: "Lexend", sans-serif;
$ff-secondary: "Roboto", sans-serif;
$h7: 13px;

p {
  font-family: $ff-secondary;
}

.h6 {
  font-size: 15px;
}

.h7 {
  font-size: 13px;
}

h1 {
  margin-bottom: 40px;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: sec;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .card {
    margin: 1rem 0.7rem 1rem;
    max-width: 80vw;
  }
}

.card-text__sug {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.footer__card {
  line-height: 1.2rem;
  padding: 2rem 0 1.4rem 0;
  font-family: $ff-secondary;
}

#name {
  font-size: 0.8rem;
  font-weight: bold;
}

#position {
  font-size: 0.7rem;
}

@import "colors";
@import "background";
@import "animations";
@import "responsive";
@import "imputs";
